<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>
  <body>
              <div class="col-md-6 col-md-offset-3 text-center">
          <a href="/"><img alt="Churuya" src="img/nyoroon.jpg" /></a>
      </div>
      <div class="row">
          <div class="text-left v-center">
              <div class="col-md-6 col-md-offset-3">
                  {{ content }}
              </div>
        </div>
      </div>
<div class="container">
    <hr>
    <div class="row">
        {% for post in site.posts %}
        <div class="col-md-4">
          <div class="panel panel-default">
              <div class="panel-heading"><h3><a href="{{ post.url }}">{{ post.title }}</a><small>{{ post.date | date_to_string }}</small></h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis eleme    ntum auctor accumsan. 
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
        {% endfor %}
</div>
  </body>
</html>
